@mixin width-xx($width) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}

// index
.goals {
  @include width-xx(90%)

  @mixin grid-column {
    display: grid;
    grid-template-columns: 1fr 150px 100px;
  }
  
  &-header {
    @include grid-column;
    background: #f8f8ff;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &-item {
    @include grid-column;
    margin-bottom: 5px;

    &:nth-of-type(odd) {
      background: #fff8dc;
    }
  }
}

.new-link {
  margin-top: 20px;

  &-button {
    background: rgb(0, 195, 255);
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 8px;
    position: relative;
    left: 30px;
  }
}

// new
.new {
  @include width-xx(90%)

  @mixin grid-row {
    display: grid;
    grid-template-rows: 1fr;
  }

  &-form {
    @include grid-row;
    gap: 10px;

    &-item {
      @include grid-row;

      &-limit {
        width: 200px;
      }
    }

    &-submit {
      margin-top: 20px;
    }
  }
}