<!DOCTYPE html>
<html>
  <head>
    <title>GoalAchievement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="./assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  </head>

  <body>
    <%#= render "layouts/header" %>
    <%#= yield %>
    <div id="app">
    </div>
    
    <%#= debug(params) if Rails.env.development? %>
    <script src="./assets/bundle.js"></script>
  </body>
</html>
