<!DOCTYPE html>
<html>
  <head>
    <title>GoalAchievement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="./main.js"></script>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <div id="app"></div>
  </body>
</html>
