<!DOCTYPE html>
<html>
  <head>
    <title>GoalAchievement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%#= render "layouts/header" %>
    <%#= yield %>
    <div id="app">
    </div>
    <%#= debug(params) if Rails.env.development? %>
  </body>
  <%= javascript_include_tag("", { src: "./bundle.js", defer: true }) %>
</html>
